.navbar {
  width: 100%;
  height: var(--nav-height);
  background: var(--primary);
  color: var(--light);
  font-weight: bold;
  padding: 1em 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.navbar > div {
  display: flex;
  align-items: center;
}

.navbar > div .title {
  margin-right: 5em;
}

.navbar a {
  color: var(--light);
  margin-right: 2em;
  text-decoration: none;
}

.navbar > div .links a.active {
  color: var(--dark);
  background: var(--light);
  padding: 0.3em 1.5em;
  border-radius: 50rem;
}

.cart-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
}

.cart-info span {
  font-size: 1.5em;
}

.cart-info > * {
  margin-left: 0.5em;
}

.cart-count {
  background: var(--secondary);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
}
